<!--Body content-->

<h1>Introduction</h1>

<p>Welcome to 3D Printing for Computer Scientists!  This document serves as a guide for individuals with programming experience who are interested in three dimensional modelling as it pertains to 3D printing.  Readers are not expected to have any formal <a href="https://en.wikipedia.org/wiki/Computer-aided_design">computer-aided design</a> (CAD) or <a href="https://en.wikipedia.org/wiki/Computer-aided_manufacturing"a>computer-aided manufacturing</a> (CAM) experience.  No former knowledge of 3D printing is required either.  It is expected that a basic understanding of programming concepts has been learned, any programming experience will do.</p>

<p>This guide will begin with the creation of three dimensional models.  These models will be created using a specially designed programming language, <a href="http://www.openscad.org">OpenSCAD</a>.  OpenSCAD provides an environment where the programmer can write detailed code that can then be processed into a three dimensional image similar to what they would design using a CAD software package.</p>

<div class="btn-group btn-group-justified" id="page-next">
    <a href="#" class="btn btn-default">Introduction</a>
    <a href="#/getting_started" class="btn btn-default">OpenSCAD <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
</div>
