<h1>Creating G-code</h1>

<p>Now that you have a better understanding on how Slic3r's print settings work</p>

<div class="btn-group btn-group-justified" id="page-next">
    <a href="#/slicer_printer_settings" class="btn btn-default"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> Slicer Printer Settings</a>
    <a class="btn btn-default">Creating G-code</a>
    <a href="#/slicer_loading_gcode" class="btn btn-default">Loading G-code <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
</div>
