<h1>A Programmers Option</h1>

<p>If the command line is where you feel most comfortable as a computer scientist with former programming experience, feel free to download <a href="http://www.openscad.org">OpenSCAD</a> using your package manager of choice.  On Mac OS X, using both <a href="http://brew.sh/">Homebrew</a> or <a href="https://www.macports.org/">MacPorts</a> should provide the user with the same program discussed in <a href="#/Intro">Getting Started</a>.</p>

<pre><code class="hljs bash"><span class="hljs-built_in">$ brew install</span> openscad</code></pre>

<p>Different Linux distributions will also come with package managers that can be used to the same affect:</p>

<pre><code class="hljs bash"><span class="hljs-built_in">$ sudo apt-get install</span> openscad</code></pre>

<h3>Edit As You Like</h3>

<p>One neat trick that can improve your coding in OpenSCAD is using the text editor you are familiar with instead of the default.  OpenSCAD's text editor is fairly basic and limited in what it is able to achieve.  Open the program, navigate to <i>Design > Automatic Reload and Preview</i>, make sure this option is check marked.  What this allows us to do is re-render our models by simply saving the working OpenSCAD file.  Using this in conjunction with an OpenSCAD alias can increase your productivity in OpenSCAD using software you are comfortable with and use already.</p>

<pre><code class="hljs bash"><span class="hljs-built_in">$ alias</span> openscad=/Applications/OpenSCAD.app/Contents/MacOS/OpenSCAD</code></pre>

<p>The file extension OpenSCAD uses is <i>.scad</i>.  Using the editor of your choice (<a href="http://www.vim.org/">vim</a>, <a href="https://www.gnu.org/software/emacs/">emacs</a>, <a href="https://notepad-plus-plus.org/">notepad++</a>, <a href="https://en.wikipedia.org/wiki/List_of_text_editors">etc</a>), opening up <i>.scad</i> files, making changes, and saving the changes, will automatically refresh the rendered image being displayed in the OpenSCAD software.  Useful plugins can also be found such as <a href="https://github.com/sirtaj/vim-openscad">vim-openscad</a> and many others, allowing you further control over what you are programming.</p>

<div class="btn-group btn-group-justified" id="page-next">
    <a href="#/getting_started" class="btn btn-default"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> Getting Started</a>
    <a class="btn btn-default">Programmers Option</a>
    <a href="#/openscad_basics" class="btn btn-default">OpenSCAD Basics <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
</div>
