<h1>Stereolithography</h1>

<h3>File Format</h3>

<p>Stereolithography has two different meanings the in 3D printing world.  <a href="https://en.wikipedia.org/wiki/Stereolithography">Stereolithography</a> can refer to a specific type of 3D printer that uses lasers to cure a pool of resin into the desired three dimensional model.  The second interpretation of the word refers to the <a href="https://en.wikipedia.org/wiki/STL_(file_format)"><i>.stl</i></a> file type which most 3D printers use to save a three dimensional model.</p>

<p>Here, we will be discussing the file format stereolithography, <i>.stl</i>.  The majority of consumer 3D printing technologies on the market today use the <i>.stl</i> file format as the default format to save a three dimensional model.  This file format is used in most <a href="https://en.wikipedia.org/wiki/Computer-aided_design">CAD</a> software packages as well as many <a href="https://en.wikipedia.org/wiki/3DSlicer">slicers</a> needed to create the printer recognizable <a href="https://en.wikipedia.org/wiki/G-code">g-code</a>.  Stereolithography files construct a triangulated surface representing your created model in three dimensions.  We will discuss two different versions of an <i>.stl</i> below.</p>

<p>Although 3D printing software handles nearly all processing of an <i>.stl</i> file, a closer look into the workings of this format will help broaden our understanding of how our models are created.</p>

<h3>ASCII STL</h3>

<p><a href="http://people.sc.fsu.edu/~jburkardt/data/stla/stla.html">ASCII</a> <i>.stl</i>'s are a special kind of STL file format that can be digested as a human readable <a href="https://en.wikipedia.org/wiki/ASCII">ASCII</a> character language.  STLA files begin with and end with the <i>solid</i> keyword and <i>endsolid</i> keyword.  The file then contains instructions pertaining to the creation of triangles in a counterclockwise order.  The <i>facet normal</i> keyword describes the normal vector for which the triangle face will be oriented towards.  This normal vector is represented as a unit vector and follows the right hand rule.  Next, and <i>outer loop</i> and <i>endloop</i> keyword is used to begin the connection of the triangle vertices.  The <i>vertex</i> keyword will then specify the points.</p>

<p>See the example snippet below for a demonstration on how a cube will be build.  Refer to the <a href="#/3d_models_in_openscad">cube.scad</a> file for a comparison of how <a href="http://www.openscad.org">OpenSCAD</a> abstracts the details of STL creation.</p>

<a href="openscad_models/cube.stl"><h5>cube.stl</h5></a>

<pre><code class="hljs openscad"><span class="hljs-built_in">solid</span> Cube
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">-0 0 1</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 0 1</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 0 -1</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">-0 0 -1</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 -1 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 -1 -0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">1 -0 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">1 0 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 -2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 1 -0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">0 1 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">2.5 2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">-1 0 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 0</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
    <span class="hljs-built_in">facet normal</span> <span class="hljs-number">-1 -0 0</span>
        <span class="hljs-built_in">outer loop</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 2.5 5</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 0</span>
            <span class="hljs-built_in">vertex</span> <span class="hljs-number">-2.5 -2.5 5</span>
        <span class="hljs-built_in">endloop</span>
    <span class="hljs-built_in">endfacet</span>
<span class="hljs-built_in">endsolid</span> Cube</code></pre>

<p>To view the our newly created <i>.stl</i>, we can use the import function provided by OpenSCAD to import our model.</p>

<a href="openscad_models/import_stl.scad"><h5>import_stl.scad</h5></a>

<pre><code class="hljs openscad"><span class="hljs-comment">/*
 * The import function is used to import .stl file typically created with CAD software.
 */</span>
<span class="hljs-built_in">import</span>(<span class="hljs-string">"/path/to/file.stl"</span>);
</pre></code>

<p>A basic cube should be created as such:</p>

<a href="img/openscad-import_stl.png"><img ng-src="img/openscad-import_stl.png" id="centered"></a>

<p>The creation of STL files is fairly intuitive.  Programs can be created to churn out a large number of facets to create three dimensional object files.  Notice these files contain no information regarding the models colour or the any scaling variables.</p>

<p>The simplicity of an <i>.stl</i> does not allow for much modification.  In order to modify a model it's best to return to the original CAD drawing and export a new <i>.stl</i> file.</p>

<h3>Binary STL</h3>

<p>As models get more complex and increasing amounts of facets are created, ASCII <i>.stl</i>'s grow rather large in size.  Binary <i>.stl</i>'s convert the text of an ASCII <i>.stl</i> to a much more manageable binary format.  <a href="http://www.fabbers.com/tech/STL_Format#Sct_binary">Binary <i>.stl</i>'s</a> begin with an 80 character header description with no significance to the data.  Following, a 4 byte unsigned integer is placed that provides the number of facets in the file.  At this point, 4 byte floats representing the <i>.stl</i> facet dimensions is listed.</p>


<pre><code class="hljs openscad"><span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>i</i> for normal</span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>j</i></span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>k</i></span>

<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>x</i> for vertex 1</span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>y</i></span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>z</i></span>

<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>x</i> for vertex 2</span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>y</i></span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>z</i></span>

<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>x</i> for vertex 3</span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>y</i></span>
<span class="hljs-number">4</span> <span class="hljs-built_in">float</span>                <span class="hljs-comment"><i>z</i></span>

<span class="hljs-number">2</span> <span class="hljs-built_in">unsigned integer</span>     <span class="hljs-comment">attribute byte count</span></code></pre>

<p>With this layout, a binary <i>.stl</i> can save on file storage size and be parsed by CAD software packages that use the file type to serve up three dimensional models.</p>

<div class="btn-group btn-group-justified" id="page-next">
    <a href="#/external_files" class="btn btn-default"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> External Files</a>
    <a class="btn btn-default">Stereolithography</a>
    <a href="#/slicer" class="btn btn-default">Slicer <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
</div>
