<h1>An Introduction To G-code</h1>

<p>G-code is a very close to the metal programming language developed by <a href="http://web.mit.edu/">MIT</a> in the 1950's.  G-code provides computerized machines with instructions on how to build a product.  Whether the code be for a <a href="https://en.wikipedia.org/wiki/Numerical_control">CNC</a> cutting machine, a laser cutter, or a 3D printer, G-code is a popular choice.  The instructions included in a G-code file include positions where the machine will move, the speed at which it will move, and what path it will take in between.</p>

<p>Once a three dimensional model is created using a piece of <a href="https://en.wikipedia.org/wiki/Computer-aided_design">CAD</a> software, the model is exported as an <i>.stl</i>.  The STL is then slicer using slicing software into G-code.</p>

<h3>Homing You Printer</h3>

<p><a href="http://gnipsel.com/linuxcnc/g-code/gen01.html">Homing</a> your printer to it's Cartesian origin  point, (0, 0, 0), is important to having a base case for which to start from.  G53 is a command for hardware homing your 3D printer.  This means the printer will go to its home determined by where the physical sensors are placed rather than a software limit.  Software home is also available with the G28 command and is more useful for a number of printer configurations.  These commands assume a point of (0, 0, 0) without further given parameters but you may also specify, G28 X0 Y0 Z0.  Additionally, G28 X Z will home the x-axis and z-axis but not the y-axis.</p>

<h3>G-code Preamble</h3>

<p>The beginning of a G-code file has some important configuration options to be inserted in order to let the rest of the script function.  This configuration includes information about the device running the G-code and units of measurement.</p>

<p>Units of measurement can be specified using different G commands.</p>

<pre><code class="gcode hljs"><span class="hljs-comment">; Everything after a semi-colon is a comment, parentheses are in line comments.</span>
<span class="hljs-name">G20</span> <span class="hljs-comment">(Uses inches as unit of measurement)</span>
<span class="hljs-name">G21</span> <span class="hljs-comment">(Uses millimeters as unit of measurement)</span></code></pre>

<p>As stated above, the homing command can be executed as follows:</p>

<pre><code class="gcode hljs"><span class="hljs-name">G28</span> <span class="hljs-comment">(For software home.)</span>
<span class="hljs-name">G53</span> <span class="hljs-comment">(For hardware home.)</span></code></pre>

<p>A distance mode operation is called to specify how the position of the print head will be defined.</p>

<pre><code class="gcode hljs"><span class="hljs-name">G90</span> <span class="hljs-comment">(positioning defined as reference to part zero)</span>
<span class="hljs-name">G91</span> <span class="hljs-comment">(positioning defined with reference to previous position)</span></code></pre>

<p>The G-code Slic3r produces uses the G92 command to set the positions of the print head.  This command does not physically move the print head but instead it tells the printer what positions you want it to think it's in.  G92 is also a command with parameters referring to Cartesian coordinates.</p>

<pre><code class="gcode hljs"><span class="hljs-comment">; Where the X, Y, Z, parameters refer to the Cartesion position of the print head.</span>
<span class="hljs-comment">; The E parameter refers to the filament extruder position.</span>
<span class="hljs-name">G92</span> X0 Y0 Z0 E0</code></pre>

<p>G-code G commands are used across many different mediums.  M commands are more specific to 3D printing and the <a href="http://reprap.org/">RepRap</a> community.  The following M commands are typically found in the preamble along side the standard G commands.</p>

<p>Much like the G82 command, M82 specifies an absolute position for the interpretation of the extruder.</p>

<pre><code class="gcode hljs"><span class="hljs-name">M82</span> <span class="hljs-comment">(Set extruder to absolute mode.)</span></code></pre>

<p>Fairly unique to 3D printers, the M104 command sets the extruder's temperature.  M104 has two parameters which specify the sensor being observed for temperature readings as well as the target temperature itself.</p>

<pre><code class="gcode hljs"><span class="hljs-name">M104</span> P1 S230 <span class="hljs-comment">(Set sensor 1 to 230 degrees C.)</span></code></pre>

<p>Extruder fan control is executed using the M106 and M107 commands.  The M106 command has several parameters used to control how the extruder fan performs during the three dimensional print.  Parameters include which fan to control, the speed of the fan, temperature trigger, and more.</p>

<pre><code class="gcode hljs"><span class="hljs-comment">; M104 Fan Control
; Parameters:
;    P - specifies fan number
;    S - speed of the fan (0 - 255)
;    I - invert signal
;    F - fan frequency in Hz
;    H - selects heaters when in thermostatic mode
;    R - restore fan speed when printer paused
;    T - trigger temperature</span>
<span class="hljs-name">M106</span> P1 I1 S200 <span class="hljs-comment">(Turns fan 1 on when the temperature reaches 200 degrees C and inverts the signal.)</span>
<span class="hljs-name">M107</span> <span class="hljs-comment">(Deprecated.)</span></code></pre>

<p>Much like M104, the M109 command sets the extruder temperature.  Unlike M104, this command then waits for the temperature to be achieved.</p>

<pre><code class="gcode hljs"><span class="hljs-name">M109</span> S230 <span class="hljs-comment">(Set extruder temperature to 230 degrees C and wait.)</span></code></pre>

<p>These are some popular G-code preamble you might find when your slicing software package slices your three dimensional STL files.  Depending on the slicer used, printer firmware, and the model being sliced, different commands might be found but serve a similar purpose to specify some initial variables required to produce a functional model.</p>

<h3>G-code Cube</h3>

<p>Using the simple cube we created in <a href="#/3d_models_in_openscad">3D Models In OpenSCAD</a>, using Slic3r to slice the <a href="#/slicer"><i>.stl</i></a>, the G-code produced will look like the following:</p>

<a href="openscad_models/cube.gcode"><h5>cube.gcode</h5></a>

<pre><code class="gcode hljs"><span class="hljs-comment">; generated by Slic3r 0.9.9 on 2016-03-15 at 12:53:37

; layer_height = 0.4
; perimeters = 3
; top_solid_layers = 3
; bottom_solid_layers = 3
; fill_density = 0.4
; perimeter_speed = 30
; infill_speed = 60
; travel_speed = 130
; nozzle_diameter = 0.5
; filament_diameter = 3
; extrusion_multiplier = 1
; perimeters extrusion width = 0.53mm
; infill extrusion width = 0.53mm
; solid infill extrusion width = 0.53mm
; top infill extrusion width = 0.53mm
; first layer extrusion width = 0.70mm</span>

<span class="hljs-name">G21</span> <span class="hljs-comment">; set units to millimeters</span>
<span class="hljs-name">M104</span> S200 <span class="hljs-comment">; set temperature</span>
<span class="hljs-name">G28</span> <span class="hljs-comment">; home all axes</span>
<span class="hljs-name">G1</span> Z5 F5000 <span class="hljs-comment">; lift nozzle</span>

<span class="hljs-name">M109</span> S200 <span class="hljs-comment">; wait for temperature to be reached</span>
<span class="hljs-name">G90</span> <span class="hljs-comment">; use absolute coordinates</span>
<span class="hljs-name">G92</span> E0
<span class="hljs-name">M82</span> <span class="hljs-comment">; use absolute distances for extrusion</span>
<span class="hljs-name">G1</span> F1800.000 E-1.00000
<span class="hljs-name">G92</span> E0
<span class="hljs-comment">...</span></code></pre>

<p>Slic3r sets up some initial variables that are specific to your print settings and homes the axis before beginning the steps required to complete the print.</p>

<div class="btn-group btn-group-justified" id="page-next">
    <a href="#/slicer_creating_gcode" class="btn btn-default"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> Creating G-code</a>
    <a class="btn btn-default">G-code Basics</a>
    <a href="#/building_a_model" class="btn btn-default">Building A Model <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
</div>
